body{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    background-color: rgb(29, 28, 28);
    color: rgb(230, 230, 230);
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 300px);
}
.cell {
    border: 2px solid #525252;
}
.active{
    display: none;
}
.dagger{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 200px;
}
button{
    border: none;
    background-color: rgb(24, 105, 4);
    color: rgb(230, 230, 230);
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}
#play_with_ai{
    background-color: rgb(87, 87, 87);
}